{% extends 'layout.html' %}




{% block title %} Strona główna {% endblock %}





{% block content %}


<div class="container">


 <div class="row">


 <div class="col-md-6 col-md-offset-3">


Strona główna


{% if session['name'] %}


Witaj{{ session['name'] }}

<h1>Czy możesz oddać krew?</h1>
        <form method="POST", action="{{url_for('home2')}}">
           <b> Czy masz choroby :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Wiek :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Waga :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            Hemoglobina : <input type="text", name='d', placeholder="enter 4"> <br><br><br></b>
            Czas od ostatniego oddania krwi : <input type="text", name='e', placeholder="enter 5"> <br><br><br></b>
            Temperatura : <input type="text", name='f', placeholder="enter 6"> <br><br><br></b>
            Puls : <input type="text", name='g', placeholder="enter 7"> <br><br><br></b>
            <input type="submit" , value='Oblicz!' >
        </form>
{% else %}


Nie zalogowano, zaloguj się


{% endif %}


 </div>


 </div>


</div>
{% endblock %}